# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Virtual Environments
# =========================
dis_venv/

# =========================
# Datasets (IMPORTANT)
# =========================
aug_data/
data/
PlantVillage/
PlantVillage_Masks/